body{
    background-color:#FCB43A;
    margin: 0px;
}
.container{
    background-color: teal;
    display: grid;
    /* grid-template-columns: auto 400px auto; */
    grid-template-rows: [row1-start] 150px [row1-end row2-start] 450px [row2-end];
    grid-template-columns: [column1-start] 250px [column1-end column2-start] 300px [column2-end];
    grid-template-areas: 
    "logo header header header"
    "sidebar main main main";
}
.header{
    background-color: #FCB43A;
    grid-area: header;
    text-align: center;
}
.header h1{
    font-size: 40px;
}
.sidebar{
    background-color: black;
    grid-area: sidebar;
    color: #FFE05D;
    /* border-radius: 8px; */
}
li{
    /* list-style-image: url(../images/yelspoon.PNG); */
    padding-bottom: 45px;
    padding-top: 40px;
    padding-left: 35px;
    font-size: 18.5px;
    /* margin-bottom: 10px; */
}
ul a{
    text-decoration: none;
    color: #FFE05D;
}
li:hover{
    background-color: #FCB43A;
    color: black;
}
ul a:hover{
    color: black;
}

.logo {
    grid-area: logo;
}
.logo img {
    width: 250px;
    height: 150px;
}
.main{
    background-color: rgb(255, 255, 255);
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile{
    /* background-color: burlywood; */
    margin-left: 15px;
    margin-right: 50px;
    /* margin-bottom: 100px; */
    padding: 5px 30px;
}
.profile img{
    padding-left: 55px;
}
.profile input[type=text]{
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 5px;
    width: 230px;
    height: 30px;
}
.profile input[type=text]::placeholder{
    color: black;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
.email input[type=text]{
    background-color: rgb(247, 247, 247);
    margin-left: 79px;
    height: 20px;
    /* border-bottom: 2px solid #FCB43A; */
}
.cohort input[type=text]{
    background-color: rgb(247, 247, 247);
    margin-left: 73px;
    height: 20px;
}
.facilitator input[type=text]{
    background-color: rgb(247, 247, 247);
    margin-left: 10px;
    height: 20px;
}

.calender{
    /* background-color: chocolate; */
    /* margin-left: 200px; */
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}
.calender img{
    width: 100px;
    height: 100px;
    /* padding-left: 40px; */
}
.progress{
    padding-top: 50px;
    /* background-color: goldenrod; */
}
.progress img{
    width: 100%;
}

.main a {
    color: #FCB43A;
    font-size: 18px;
    text-decoration: none;
}
.main a:hover{
    text-decoration: underline;
}

footer{
    /* background-color: goldenrod; */
    margin: 0px;
    text-align: center;
    font-weight: bolder;
    box-shadow: 0 5px 5px -5px #333;
}